@use './font' as *;
@use './variables' as *;
@use './mixins' as *;

*{
   box-sizing: border-box;
}
body{
   font-family: "NunitoSans";
   margin: 0;
}
a{
   text-decoration:none;
   color: inherit;
}
li{
   list-style-type: none;
}
.header{
   background-color: $primary-color-black;
   color: $primary-color-white;
   font-weight: 700;
   line-height: 4.25rem;
   &__logo{ margin-top: 0;
      font-size: 3rem;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      padding-top: 1rem;
      @include tablet{
         padding-left: 1rem;
      }
      @include desktop{
         padding-left: 6rem;
      }
   }
    &__list{
      padding-left: 0;
      margin: 0;
      @include tablet{
         display: flex;
         justify-content: flex-start;
         gap: 4rem;
         width: 100%
         }
   }
   &__mobile{
      padding-left: 0;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin: 0;
      @include tablet{
         gap: 3rem;
      }
   }
     &__item{
      width: 50%;
      display: flex;
      justify-content: center;
      @include tablet{
         display: flex;
         flex: 1;
         justify-content: center;
      }
      }
      &__link {
         color: #ffffff; 
         text-decoration: none;
         transition: color 0.3s ease, font-size 0.3s ease;
         &:hover {
            color: #3b1a12; 
            font-size: 1.1em;
         }
      }
   }
   .footer{
      background-color: $primary-color-black;
      color: $primary-color-white;
      font-size: 1.6rem;
      @include tablet{
          @include padding-left-desktoptablet;
          @include padding-right-desktoptablet;
      }
      @include desktop{
          
              padding-left: 3rem;
              padding-right: 3rem;
      }
     &__heading{
      font-size: 2.5rem;
      @include tablet{
          padding-top: 0;
          margin-top: 0;
      }
      @include desktop{
          font-size: 2.5rem;
      }
     }
     &__unordered{
      @include padding-before-headline;
      @include padding-after-headline;
      margin-left: 1rem;
      padding-left: 0;
      @include tablet{
          display: flex;
          flex-direction: row;
          @include padding-before-headline-desktoptablet;
          padding-bottom: 0;
      }
     }
     &__icons{
      display: flex;
      gap: 3rem;
      padding-top: 1rem;
      padding-left: 0;
      width: 60%;
      @include tablet{
          width: 60%;
      }
      @include desktop{
      }
     }
     &__icon{
      width: 2.5rem;
      height: 2.5rem;
      @include tablet{
          width: 1.6rem;
          height: 1.6rem; 
      }
     }
     &__listitem{
          width: 50%;
          @include desktop{
              width: 30%;
          }
     }
      &__logo-top{
        font-weight: 400; 
          display: none;
          @include tablet{
              display: flex;
              margin-top: 0;
              justify-self: flex-end;
          }
      }
      &__subsection{
          display: flex;
          flex-direction: column;
          width: 60vw;
          margin-left: 1rem;
          margin-right: 1rem;
          @include tablet{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-between;
              padding-right: 20px;
              max-width: 30vw;
          }
      }
      &__container{
          display: flex;
          flex-direction: column;
          @include tablet{
              font-size: 1.2rem;
              display: flex;
              flex-direction: row;
          }
          @include desktop{
              padding-right: 15rem;
          }
      }
      &__subheading{
        margin: 1rem, 0, 1rem, 0;
        font-weight: 700;
          @include tablet{
              width: auto;
          }
      }
      &__address{
          @include tablet{
              display: flex;
              justify-content: center;
              align-content: center;
              width: auto;
          }
      }
      &__booking{
        padding-bottom: 2rem;
      }
      &__bottom{
          @include padding-before-headline;
          margin-left: 1rem;
          margin-right: 1rem;
          @include tablet{
              @include padding-before-headline-desktoptablet;
          }
      }
      &__logo-bottom{
          font-size: 3rem;
          @include tablet{
              display: none;
          }
      }
      &__copyright{
          margin: 0;
          padding-bottom: 2rem;
      }
   
  }
