$tablet-breakpoint : 768px;
$desktop-breakpoint : 1024px;

$primary-color-black : #323232;
$primary-color-silver: #AFAFAF;
$primary-color-white: #FFFFFF;

$secondary-color-darkblack: #000000;
$secondary-color-mercury: #E1E1E1;
$secondary-color-alabaster: #FAFAFA;

$padding-between-components-mobile: 1rem;
$padding-before-headlines-mobile: 1.5rem;
$padding-after-headlines-mobile: 1rem;


$padding-between-components-desktoptablet: 2.25rem;
$padding-before-headlines-desktoptablet: 3rem;
$padding-after-headlines-desktoptablet: 2.25rem;