@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Regular.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Medium.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Bold.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans";
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.header {
  background-color: #323232;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 4.25rem;
}
.header__logo {
  margin-top: 0;
  font-size: 3rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo {
    padding-left: 6rem;
  }
}
.header__list {
  padding-left: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    width: 100%;
  }
}
.header__mobile {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .header__mobile {
    gap: 3rem;
  }
}
.header__item {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header__item {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}
.header__link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, font-size 0.3s ease;
}
.header__link:hover {
  color: #3b1a12;
  font-size: 1.1em;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.footer__heading {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__heading {
    padding-top: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer__heading {
    font-size: 1.5rem;
  }
}
.footer__unordered {
  padding-top: 1.5rem;
  margin: 0;
  padding-bottom: 1rem;
  margin: 0;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .footer__unordered {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    margin: 0;
    padding-bottom: 0;
  }
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  width: 60%;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    width: 60%;
  }
}
.footer__icon {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .footer__icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.footer__listitem {
  width: 50%;
}
@media screen and (min-width: 1024px) {
  .footer__listitem {
    width: 30%;
  }
}
.footer__logo-top {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo-top {
    display: flex;
    margin-top: 0;
    justify-self: flex-end;
  }
}
.footer__subsection {
  display: flex;
  flex-direction: column;
  width: 49%;
}
@media screen and (min-width: 768px) {
  .footer__subsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 20px;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .footer__container {
    padding-right: 15rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__subheading {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__address {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
  }
}
.footer__booking {
  font-size: 1rem;
}
.footer__bottom {
  padding-top: 1.5rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__bottom {
    padding-top: 3rem;
    margin: 0;
  }
}
.footer__logo-bottom {
  font-size: 3rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-bottom {
    display: none;
  }
}
.footer__copyright {
  margin: 0;
  padding-bottom: 2rem;
}

.header {
  width: 100%;
}
.header__item--bio {
  border-bottom: 0.3rem solid #FFFFFF;
}

.hero {
  background-image: linear-gradient(rgba(35, 24, 24, 0.5), rgba(9, 1, 1, 0.35)), url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.5rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 3rem;
    margin: 0;
  }
}
.hero__title {
  margin: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2.5rem;
  width: 100%;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-left: 2.25rem;
  }
}

.content__heading {
  padding-top: 1.5rem;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .content__heading {
    padding-top: 3rem;
    margin: 0;
    padding-bottom: 2.25rem;
    margin: 0;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .content__container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.content__image {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .content__image {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.content__writeup {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2.2rem;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .content__writeup {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    font-size: 1.5rem;
  }
}
.content__quote {
  display: flex;
  justify-content: center;
}
.content__speaker {
  padding-bottom: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .content__speaker {
    padding-bottom: 2.25rem;
    margin: 0;
  }
}
.content__item-heading {
  font-size: 2.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .content__item-heading {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    font-size: 1.5rem;
  }
}
.content__summary {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .content__summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .content__paragraph {
    font-size: 0.875rem;
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .content__paragraph {
    font-size: 1.3rem;
  }
}
.content__item {
  font-size: 2.2rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .content__item {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

.Gallery {
  background-color: #FAFAFA;
}
.Gallery__heading {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 3.5rem;
  padding-top: 1.5rem;
  margin: 0;
  padding-bottom: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .Gallery__heading {
    padding-top: 3rem;
    margin: 0;
    padding-bottom: 2.25rem;
    margin: 0;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .Gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.Gallery__photo {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  filter: grayscale(70%);
  transition: filter 0.3s ease;
}
.Gallery__photo:hover {
  filter: grayscale(0%);
}
@media screen and (min-width: 768px) {
  .Gallery__photo {
    padding-bottom: 2.25rem;
    margin: 0;
    width: 32%;
  }
}

label {
  color: #AFAFAF;
}

input {
  border: 2px solid #E1E1E1;
  border-radius: 0.25rem;
  height: 2.5rem;
}
@media screen and (min-width: 768px) {
  input {
    height: 4rem;
  }
}

input::-moz-placeholder {
  color: #000000;
  font-size: 1.3rem;
}

input::placeholder {
  color: #000000;
  font-size: 1.3rem;
}

.comment {
  border-bottom: 2px solid #E1E1E1;
  padding-bottom: 2rem;
}
.comment__title {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .comment__title {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .comment__form {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .comment__form {
    margin-left: 10rem;
  }
}
.comment__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-top: 2.6rem;
}
@media screen and (min-width: 768px) {
  .comment__avatar {
    width: 3rem;
    height: 3rem;
  }
}
.comment__name {
  display: flex;
  flex-direction: column;
  padding-left: 4.2rem;
  gap: 1rem;
}
.comment__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comment__profile {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}
.comment__input {
  width: auto;
  min-width: 80vw;
  height: 3rem;
  margin-bottom: 2rem;
  background-color: #FAFAFA;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .comment__input {
    min-width: 70vw;
  }
}
@media screen and (min-width: 1024px) {
  .comment__input {
    min-width: 50vw;
  }
}
.comment__submit {
  display: flex;
  justify-self: center;
  min-width: 80vw;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  height: 4rem;
  background-color: #000000;
  color: #FFFFFF;
  border: 0px;
  font-size: 1.7rem;
  border-radius: 0.25rem;
}
@media screen and (min-width: 768px) {
  .comment__submit {
    display: flex;
    justify-self: flex-end;
    min-width: 20vw;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .comment__submit {
    display: flex;
    justify-self: center;
    margin-right: 9rem;
  }
}

#guest__name {
  display: flex;
  min-width: 85vw;
}
@media screen and (min-width: 768px) {
  #guest__name {
    min-width: 70vw;
  }
}
@media screen and (min-width: 1024px) {
  #guest__name {
    min-width: 40vw;
  }
}

textarea {
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#guest__comment {
  height: 8rem;
  display: flex;
  resize: none;
}
@media screen and (min-width: 768px) {
  #guest__comment {
    min-width: 70vw;
    max-width: 70vw;
  }
}
@media screen and (min-width: 1024px) {
  #guest__comment {
    min-width: 40vw;
    max-width: 40vw;
  }
}

#guest__comment::-moz-placeholder {
  position: relative;
  top: -2.5rem;
}

#guest__comment::placeholder {
  position: relative;
  top: -2.5rem;
}

.previous {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .previous {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}
.previous__article {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
  border-bottom: 0.125rem solid #E1E1E1;
  margin-bottom: 2rem;
  margin-right: 5rem;
}
@media screen and (min-width: 1024px) {
  .previous__article {
    max-width: 70vw;
    justify-self: center;
    margin-right: 14rem;
  }
}
.previous__wrapper {
  display: flex;
  gap: 15rem;
  align-items: flex-end;
}
.previous__name {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  flex: 1;
}
.previous__date {
  flex-grow: 1;
  flex-basis: 5rem;
  flex: 1;
  color: #AFAFAF;
}
.previous__comment {
  font-size: 1.5rem;
}
.previous__image {
  background-color: #E1E1E1;
  width: 10rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-self: flex-start;
  margin-left: 1rem;
  max-width: 3rem;
  min-width: 3rem;
}/*# sourceMappingURL=bio.css.map */