@use './partials/font' as *;
@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;


.header{
    width: 100%;
    &__item--bio{
        
        border-bottom: 0.3rem solid $primary-color-white;

        
    }
  
}
.hero{
    background-image: linear-gradient(rgba(35, 24, 24, 0.5), rgba(9, 1, 1, 0.35)), url('../assets/images/hero-bio.jpg');
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include padding-before-headline;
    @include tablet{
        @include padding-before-headline-desktoptablet;
    }
    &__title{
        margin: 0;
        color: $primary-color-white;
        font-weight: 700;
        font-size: 2.5rem;
        width: 100%;
        @include padding-left;
        @include tablet{
            @include padding-left-desktoptablet;
        }
    }
}
.content{
    &__heading{
        @include padding-before-headline;
        @include padding-left;
        @include padding-right;
        @include padding-after-headline;
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 500;
        @include tablet{
            @include padding-before-headline-desktoptablet;
            @include padding-after-headline-desktoptablet;
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
            font-size: 3rem;   
        }
    }
    @include desktop{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    &__container{
        @include tablet{
            padding-left: 3rem;
            padding-right: 3rem
        } 
    }
    &__image{
        @include padding-left;
        @include padding-right;
        width: 100%;
        @include tablet{
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
        }
    }
    &__writeup{
        @include padding-left;
        @include padding-right;
        font-size: 2.2rem;
        font-weight: 800;
        @include tablet{
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
            font-size: 1.5rem;
        }
    }
    &__quote{
        @include justify-center;
    }
    &__speaker{
        @include padding-after-headline;
        @include tablet{
            @include padding-after-headline-desktoptablet;
        }
    }
    &__item-heading{
        font-size: 2.2rem;
        @include padding-left;
        @include padding-right;
        @include tablet{
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
            font-size: 1.5rem;
        }
    }
    &__summary{
        @include padding-left;
        @include padding-right;
        @include column-direction;
        justify-content: center;
        width: auto;
        font-weight: 400;
        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
        }
    }
    &__paragraph{
        @include tablet{
           font-size: .875rem;
           width: 45%;  
        }
        @include desktop{
            font-size: 1.3rem;
        }
    }
    &__item{
        font-size: 2.2rem;
        font-weight: 400;
        @include tablet{
            font-size: 1rem;
            display: flex;
            justify-content: space-between;   
        }
        
    }    
}
.Gallery{
    background-color: $secondary-color-alabaster;
    &__heading{
        @include padding-left;
        @include padding-right;
        font-size: 3.5rem;
        @include padding-before-headline;
        @include padding-after-headline;
        @include tablet{
            @include padding-before-headline-desktoptablet;
            @include padding-after-headline-desktoptablet;
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
            padding-right: 0;  
        }
    }
    &__container{
        @include tablet{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
        }
    }
    &__photo{
        width: 100%;
        @include padding-left;
        @include padding-right;
        @include padding-after-headline;
        filter: grayscale(70%); 
        transition: filter 0.3s ease;
        &:hover{
            filter: grayscale(0%);     
        }
        @include tablet{
            @include padding-after-headline-desktoptablet;
            width: 32%;
        }
    }
}
.footer{
    background-color: $primary-color-black;
    color: $primary-color-white;
    font-size: 1.6rem;
    @include padding-left;
    @include padding-right;
    @include tablet{
        @include padding-left-desktoptablet;
        @include padding-right-desktoptablet;
    }
    @include desktop{
        
            padding-left: 3rem;
            padding-right: 3rem;
        
    }
 
   &__heading{
   
    font-size: 2rem;
    
    
    @include tablet{
        padding-top: 0;
        margin-top: 0;
       
    }
    @include desktop{
        font-size: 1.5rem;
        
    }
   }
   &__unordered{
    @include padding-before-headline;
    @include padding-after-headline;
    padding-left: 0;
    @include tablet{
        display: flex;
        flex-direction: row;
        @include padding-before-headline-desktoptablet;
        padding-bottom: 0;
    }
   
   }
   &__icons{
    display: flex;
    justify-content: space-between;
    
    
    padding-left: 0;
    width: 60%;
    @include tablet{
        width: 60%;
     
    }
    @include desktop{
       
        
        
    }
   }
   &__icon{
    width: 2.5rem;
    height: 2.5rem;
    @include tablet{
        width: 1.6rem;
        height: 1.6rem;
        
    }
    
   }
   &__listitem{
        width: 50%;
        @include desktop{
            width: 30%;
        }
   }

    &__logo-top{
        display: none;
        @include tablet{
            display: flex;
            margin-top: 0;
            justify-self: flex-end;
            
        }
        
      
    }
    &__subsection{
        display: flex;
        flex-direction: column;
        width: 49%;
        @include tablet{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding-right: 20px;
        }
       
    }
    &__container{
        display: flex;
        flex-direction: column;
        @include tablet{
            font-size: 1.2rem;
            display: flex;
            flex-direction: row;
        }
        @include desktop{
            padding-right: 15rem;
           
        }
    }

    &__subheading{
        @include tablet{
            width: auto;
           
        }
    }
    &__address{
        @include tablet{
            display: flex;
            justify-content: center;
            align-content: center;
            width: auto;
        }
       
    }
    &__booking{
        font-size: 1rem;
    }
    &__section{
        @include tablet{

        }
    }

    &__bottom{
        @include padding-before-headline;
        @include tablet{
            @include padding-before-headline-desktoptablet;
        }
    }
    
    &__logo-bottom{
        font-size: 3rem;
        @include tablet{
            display: none;
        }
    }
    &__copyright{
        margin: 0;
        padding-bottom: 2rem;
    }
 
}