// @use './partials/font' as *;
@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;


.header{
    width: 100%;
    &__item--bio{
        
        border-bottom: 0.3rem solid $primary-color-white; 
    }
  
}
.hero{
    background-image: linear-gradient(rgba(35, 24, 24, 0.5), rgba(9, 1, 1, 0.35)), url('../assets/images/hero-bio.jpg');
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include padding-before-headline;
    @include tablet{
        @include padding-before-headline-desktoptablet;
    }
    &__title{
        margin: 0;
        color: $primary-color-white;
        font-weight: 700;
        font-size: 2.5rem;
        width: 100%;
        @include padding-left;
        @include tablet{
            @include padding-left-desktoptablet;
        }
    }
}
.content{
    &__heading{
        @include padding-before-headline;
        @include padding-left;
        @include padding-right;
        @include padding-after-headline;
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 500;
        @include tablet{
            @include padding-before-headline-desktoptablet;
            @include padding-after-headline-desktoptablet;
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
            font-size: 3rem;   
        }
    }
    @include desktop{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    &__container{
        @include tablet{
            padding-left: 3rem;
            padding-right: 3rem
        } 
    }
    &__image{
        @include padding-left;
        @include padding-right;
        width: 100%;
        @include tablet{
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
        }
    }
    &__writeup{
        @include padding-left;
        @include padding-right;
        font-size: 2.2rem;
        font-weight: 800;
        @include tablet{
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
            font-size: 1.5rem;
        }
    }
    &__quote{
        @include justify-center;
    }
    &__speaker{
        @include padding-after-headline;
        @include tablet{
            @include padding-after-headline-desktoptablet;
        }
    }
    &__item-heading{
        font-size: 2.2rem;
        @include padding-left;
        @include padding-right;
        @include tablet{
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
            font-size: 1.5rem;
        }
    }
    &__summary{
        @include padding-left;
        @include padding-right;
        @include column-direction;
        justify-content: center;
        width: auto;
        font-weight: 400;
        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
        }
    }
    &__paragraph{
        @include tablet{
           font-size: .875rem;
           width: 45%;  
        }
        @include desktop{
            font-size: 1.3rem;
        }
    }
    &__item{
        font-size: 2.2rem;
        font-weight: 400;
        @include tablet{
            font-size: 1rem;
            display: flex;
            justify-content: space-between;   
        }
        
    }    
}
.Gallery{
    background-color: $secondary-color-alabaster;
    &__heading{
        @include padding-left;
        @include padding-right;
        font-size: 3.5rem;
        @include padding-before-headline;
        @include padding-after-headline;
        @include tablet{
            @include padding-before-headline-desktoptablet;
            @include padding-after-headline-desktoptablet;
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
            padding-right: 0;  
        }
    }
    &__container{
        @include tablet{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include padding-left-desktoptablet;
            @include padding-right-desktoptablet;
        }
    }
    &__photo{
        width: 100%;
        @include padding-left;
        @include padding-right;
        @include padding-after-headline;
        filter: grayscale(70%); 
        transition: filter 0.3s ease;
        &:hover{
            filter: grayscale(0%);     
        }
        @include tablet{
            @include padding-after-headline-desktoptablet;
            width: 32%;
        }
    }
}
label{
    color: $primary-color-silver;
}
input{
    border: 2px solid $secondary-color-mercury;
    border-radius: 0.25rem;
    height: 2.5rem;
    @include tablet{
        height: 4rem;
        
    }
}
input::placeholder {
    color: $secondary-color-darkblack;
    font-size: 1.3rem;
  }

.comment{
    border-bottom: 2px solid $secondary-color-mercury;
    
    padding-bottom: 2rem;
    
    &__title{
        padding-left: 1rem;
        @include tablet{
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    &__form{
        @include tablet{
            margin-left: 6rem;
            margin-right: 6rem;
        }
        @include desktop{
            margin-left: 10rem;
        }
    }
    &__avatar{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-top: 2.6rem;
        @include tablet{
            width: 3rem;
            height: 3rem;
        }
    }
    &__name{ 
        display: flex;
        flex-direction: column;
        padding-left: 4.2rem;
        gap: 1rem;
    }
    &__section{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__profile{
        display: flex;
        gap: 1rem;
        padding-left: 1rem;

        
        
    }
    &__input{
        width: auto;
        min-width: 80vw;
        height: 3rem;
        margin-bottom: 2rem;
        background-color: $secondary-color-alabaster;
        margin-right: 2rem;
        
      
        @include tablet{
            min-width: 70vw;
        }
        @include desktop{
            min-width: 50vw;
           }
    }
    &__submit{
        display: flex;
        justify-self: center;
        min-width: 80vw;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
        height: 4rem;
        background-color: $secondary-color-darkblack;
        color: $primary-color-white;
        border: 0px;
        font-size: 1.7rem;
        border-radius: 0.25rem;
        @include tablet{
            display: flex;
            justify-self:flex-end;
            min-width: 20vw;
            margin-right: 2rem;
        }
        @include desktop{
            display: flex;
            justify-self: center;
            margin-right: 9rem;
        } 
    }

}
#guest__name{
    display: flex;
   min-width: 85vw;
   @include tablet{
    min-width: 70vw;
   }
   @include desktop{
    min-width: 40vw;
   }
}
textarea{
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
#guest__comment{
    height: 8rem;
    display: flex;
    resize: none;
    @include tablet{
        min-width: 70vw;
        max-width: 70vw;
    }
    @include desktop{
        min-width: 40vw;
        max-width: 40vw;
       }
}
#guest__comment::placeholder{
    position: relative;
    top: -2.5rem;
}
.previous{
    padding-left: 1rem;
    @include tablet{
        margin-right: 5rem;
        margin-left: 5rem;
    }
    &__article{
        display: flex;
        gap: 2rem;
        padding-right: 2rem;
        border-bottom: 0.125rem solid  $secondary-color-mercury;
        margin-bottom: 2rem;
        margin-right: 5rem;
        @include desktop{
            max-width: 70vw;
            justify-self: center;
            margin-right: 14rem;
    }
}
    &__wrapper{
        display: flex;
        gap: 15rem;
        align-items: flex-end;
        @include desktop{
        }
    }
    
    &__name{
        font-size: 1.1rem;
        margin-top: 0;
        margin-bottom: 1rem;
        flex: 1;
    }
    &__date{
        flex-grow: 1;
        flex-basis: 5rem;
        flex: 1;
        color: $primary-color-silver;
    }
    &__comment{
        font-size: 1.5rem;
    }
    &__image{
        background-color: $secondary-color-mercury;
        width: 10rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        justify-self: flex-start;
        margin-left: 1rem;
        max-width: 3rem;
        min-width: 3rem;
    }
}

