@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Regular.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Medium.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Bold.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans";
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.header {
  background-color: #323232;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 4.25rem;
}
.header__logo {
  margin-top: 0;
  font-size: 3rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo {
    padding-left: 6rem;
  }
}
.header__list {
  padding-left: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    width: 100%;
  }
}
.header__mobile {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .header__mobile {
    gap: 3rem;
  }
}
.header__item {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header__item {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}
.header__link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, font-size 0.3s ease;
}
.header__link:hover {
  color: #3b1a12;
  font-size: 1.1em;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.footer__heading {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__heading {
    padding-top: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer__heading {
    font-size: 1.5rem;
  }
}
.footer__unordered {
  padding-top: 1.5rem;
  margin: 0;
  padding-bottom: 1rem;
  margin: 0;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .footer__unordered {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    margin: 0;
    padding-bottom: 0;
  }
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  width: 60%;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    width: 60%;
  }
}
.footer__icon {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .footer__icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.footer__listitem {
  width: 50%;
}
@media screen and (min-width: 1024px) {
  .footer__listitem {
    width: 30%;
  }
}
.footer__logo-top {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo-top {
    display: flex;
    margin-top: 0;
    justify-self: flex-end;
  }
}
.footer__subsection {
  display: flex;
  flex-direction: column;
  width: 49%;
}
@media screen and (min-width: 768px) {
  .footer__subsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 20px;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .footer__container {
    padding-right: 15rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__subheading {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__address {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
  }
}
.footer__booking {
  font-size: 1rem;
}
.footer__bottom {
  padding-top: 1.5rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__bottom {
    padding-top: 3rem;
    margin: 0;
  }
}
.footer__logo-bottom {
  font-size: 3rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-bottom {
    display: none;
  }
}
.footer__copyright {
  margin: 0;
  padding-bottom: 2rem;
}

.header__item--shows {
  border-bottom: 0.3rem solid #FFFFFF;
}

iframe {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  height: "166";
  width: 90vw;
  padding-bottom: 4rem;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  iframe {
    width: 60vw;
    height: "70";
  }
}
@media screen and (min-width: 1024px) {
  iframe {
    height: "70";
    width: 40vw;
  }
}

.hero {
  background-image: linear-gradient(rgba(35, 24, 24, 0.5), rgba(9, 1, 1, 0.35)), url("../assets/images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  margin: 0;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 3rem;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    gap: 2rem;
    padding: 4rem;
  }
}
.hero__title {
  margin: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .hero__wrap {
    display: flex;
    justify-content: space-around;
  }
}
.hero__subtitle {
  padding-top: 2rem;
  padding-left: 3rem;
}
.hero__title-up {
  margin-bottom: 0;
  margin-top: 0.4rem;
}
.hero__title-down {
  margin-top: 0;
  margin-bottom: 0;
}
.hero__subtitle {
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 2rem;
}

.shows {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .shows {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .shows {
    display: flex;
    justify-content: space-between;
    padding: 4rem 5rem;
  }
}
.shows__heading {
  font-size: 3rem;
}
.shows__heading-list {
  font-weight: 700;
  color: #AFAFAF;
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__heading-list {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .shows__heading-list {
    padding: 2rem 2rem 2rem 1rem;
    flex: 1;
  }
}
.shows__unordered-heading {
  display: flex;
  justify-content: space-between;
  padding-left: 0rem;
  padding-right: 2rem;
  margin-right: 15rem;
}
@media screen and (min-width: 1024px) {
  .shows__unordered-heading {
    width: 100%;
  }
}
.shows__list {
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .shows__list {
    display: flex;
    justify-content: space-between;
  }
}
.shows__ticket {
  border-bottom: 4px solid #E1E1E1;
}
.shows__ticket:hover {
  background-color: #FAFAFA;
  box-shadow: 10rem #E1E1E1;
}
.shows__ticket--selected {
  background-color: #E1E1E1;
}
.shows__item {
  color: #000000;
  padding-bottom: 1rem;
  margin-bottom: 0;
  font-weight: 500;
  flex-grow: 1;
  flex-basis: 0;
}
.shows__item--date {
  font-weight: 700;
}
.shows__item-heading {
  color: #AFAFAF;
  font-weight: 700;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .shows__item-heading {
    display: none;
  }
}
.shows__button {
  color: #FFFFFF;
  padding: 1.5rem 0rem;
  background-color: #323232;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 12px;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .shows__button {
    width: 28%;
    height: 4rem;
    padding: 0rem 0rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=shows.css.map */